body {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
body > * {
    padding: 1rem;
}
header,
nav,
main,
aside,
footer {
    box-sizing: border-box;
}
header, footer {
    flex: 1 1 100%;
    text-align: center;
    position: relative;
    padding: 1rem 0;
}
footer {
    border-top: #f1f1f1 solid 1px;
    border-bottom: #f1f1f1 solid 1px;
    margin-top: 1rem;
    padding: 0;
}
nav,
aside {
    flex: 1 1 25%;
}
main {
    flex: 1 1 50%;
}
a {
    color: #444;
}
/* Google material styles start */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  position: absolute;
}
.list-bulleted {
    font-size: 1rem;
    margin-top: 1px;
}
.read-more{
    font-size: 1.3rem;
}
.info-icon {
    position: absolute;
    right: 0;
}
.info-icon:hover {
    cursor: pointer;
}
.info-icon:hover + .presentation-info {
    display: block;
}
.presentation-info {
    display: none;
    position: absolute;
    right: 0;
    top: -50px;
}
.double-arrow {
    font-size: 1rem;
    margin-top: 2px;
}
/* Google material styles end */

.course-nav-link-to-menu, .nav-link-to-start-page {
    position: absolute;
    top: 0;
}
.course-nav-link-to-menu .button-link, 
.nav-link-to-start-page .button-link {
    display: flex;
}
.button-link a {
    text-decoration: none;
    font-size: 1rem;
    
}
.button-link a:hover {
    text-decoration: underline;
}
.button-link a:visited {
    color: #444;
}
.course-nav-link-to-menu .double-arrow,
.nav-link-to-start-page .double-arrow {
    position: static;
    transform: rotate(180deg);
    display: block;
    position: relative;
    top: -1px;
    left: -4px;
}
.welcome-heading {
    margin-top: -.5rem;
}
.button-upload {
    display: inline-block;
    height: unset;
}
.button-link,
.button-login,
.button-admin,
.button-upload {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: #444;
    border-radius: 2px;
}
.button-login,
.button-admin,
.button-upload {
    min-width: 100px;
    height: 31px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.55);
}
.button-login:hover,
.button-admin:hover,
.button-upload:hover {
    background-color: #ddd;
}
.button-login:active,
.button-admin:active,
.button-upload:active {
    background-color: #ddd;
    transform: translateY(1px);
}
.button-upload {
    height: auto;
}
.blogg-info-border {
    border-top: #f1f1f1 solid 1px;
    border-bottom: #f1f1f1 solid 1px;
}
.blogg-info {
    margin: 0 auto;
    max-width: 50%;
    padding: 1rem .5rem .5rem;
    margin-bottom: .5rem;
}
.blogg-info p {
    text-align: left;
    padding: 0 1rem .5rem;
    margin: 0;
}
.secondary-heading {
    color: #333;
    margin: 0;
    padding-bottom: .5rem;
}
.secondary-heading + p {
    margin-top: 0;
}
.menu, .info {
    background: #f1f1f1;
    border-radius: 5px;
}
.menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.menu-list-item {
    position: relative;
}
.menu-link {
    display: inline-block;
    margin-bottom: .5rem;
    text-decoration: none;
    color: #444;
    font-size: 1rem;
    padding-left: 1.2rem;
    padding-right: .4rem;
    cursor: pointer;
}
.menu-link:hover, .info-link:hover {
    text-decoration: underline;
}
.menu-link:visited, .info-link {
    color: #444;
}
.info-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.logout {
    position: absolute;
    top: 0;
    right: 0rem;
}
.logout input, 
.login-form .button-login,
.user-profile-form .button-admin {  
    border: none;
    color: #444;
    font-size: 1rem;
}
.logout input:hover {  
    text-decoration: underline;
}
.logout .button-link {
    display: flex;
}
.logout .button-link .double-arrow {
    position: static;
}
.errorMessage {
    display: block;
    color: #f00;
}
.login-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10vh 0 15vh;
}
.login-form, .user-profile-form {
    border: #333 1px solid;
    border-radius: 6px;
    padding: 1rem;
}
.login-container h1 {
    width: 100%;
    font-size: 1.5rem;
}
.full-width {
    width: 100%;
}
.form-container {
    display: flex;
}
.form-container div {
    margin-right: .5rem;    
}
.form-container p {
    margin-bottom: .5rem;    
}
.form-container-user div {
    margin-bottom: 1rem;

}
input[type="text"], input[type="password"] {
    padding: .3rem;
    font-size: 1rem;
    min-width: 180px;
    box-sizing: border-box;
}
textarea {
    box-sizing: border-box;
}
aside .button-link {
    background-color: #fff;
    max-width: max-content;
    padding-right: 2rem;
}
.user-admin-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.user-admin-conatiner .admin-container {
    flex: 1;
    max-width: 40%;
}